canvas {
    display: block;
    margin: 0 auto;
}

button{
    width: 100px;
    height: 50px;
    background-color: rgb(125, 180, 134);
    border-radius: 8px;
}

.divBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
